sudo: false
language: python
python: 3.6

cache: pip

before_install: pip install poetry coveralls
install: poetry install
script: pytest --cov=messages
after_success:
  - coveralls

jobs:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: required
    - python: 3.8
      dist: xenial
      sudo: required
    - python: 3.9
      dist: xenial
      sudo: required
